@page "/seccion11"

<h3>Seccion 11 - Acceso a datos con Entity Framework</h3>

@foreach (var miPersona in PersonasFiltradas)
{
    <p>Nombre: @miPersona.Nombre</p>
    <p>Apellido: @miPersona.Apellido</p>
    <p>Edad: @miPersona.Edad</p>
    <p>-----------------</p>
}

<button class="btn-success" @onclick="DameMenoresQue3">Personas con menos de 3 años</button>
<button class="btn-success" @onclick="DamePersonas">Personas con varias</button>

@code {

}
