<h3>Seccion9Parametros</h3>

<p>Nombre recibido: @Nombre</p>

@if (ParametrosAleatorios != null)
{
    <p>Apellido recibido: @(ParametrosAleatorios["Apellidos"])</p>
    <p>Edad recibida: @(ParametrosAleatorios["Edad"])</p>
    <button @attributes="ParametrosAleatorios">Botón</button>
}

@code {
    [Parameter] public string Nombre { get; set; } = "";
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object> ParametrosAleatorios { get; set; }
}
