@page "/seccion9"
@inject IJSRuntime JavaScript 

<h3>Seccion 9 - Trabajo con JavaScript</h3>

<p>Nombre: @nombre</p>

<button  @onclick="SolicitarNombre">Escribir nombre</button>

<h3>Parámetros en cascada</h3>
<CascadingValue Value="@ValorParametro" Name="Texto1">
    <CascadingValue Value="@ValorParametro2" Name="Texto2">
        <Seccion9Hijo></Seccion9Hijo>
    </CascadingValue>    
</CascadingValue>

<Seccion9Parametros Nombre="asdasd">

</Seccion9Parametros>




@code {
    private string nombre="";
    private string ValorParametro = "Texto traspasado en cascada"; 
    private string ValorParametro2 = "Texto 2";


    private async Task SolicitarNombre()
    {
        nombre = await JavaScript.InvokeAsync<string>("prompt", "Introduzca su nombre, por favor:");
    }
}
