@page "/seccion7"
@inherits Seccion7Base
@using System.Timers


<h3>Seccion6 - Separacion de codigo por herencia</h3>
<p>Valor contador: @contador</p>

<button @onclick="Arrancar">Arranca</button>
<button @onclick="Parar">Para</button>

<div class="Esycontrol w-100">Texto de ejemplo</div>



