@page "/listado2"
@inject IJSRuntime JS

@using MatBlazor

<h3>Probando MatBlazor y llamando a funciones Js</h3>
<MatBlazor.BaseMatIcon>@MatIconNames.Add</MatBlazor.BaseMatIcon>
<p>
    <MatTextField @bind-Value="@myStringValue2" Label="Nueva tarea"></MatTextField>
</p>
<button @onclick="GetBateria"></button>


@code {
    string myStringValue2;

    private async Task GetBateria()
    {       
        var bateria = await JS.InvokeAsync<string>("getBatteryLevel");
    }
}