@page "/pruebas"
@*@inject IJSRuntime JS*@

<h3>Pruebas</h3>

@*<button @onclick="GetBateria"></button>*@


@code {
    //string myStringValue2;

    //private async Task GetBateria()
    //{
    //    var bateria = await JS.InvokeAsync<string>("getBatteryLevel");
    //}
}